body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    /*width: 1158px;*/
    width: 375px;
    /*padding: 0 15px;*/
    padding: 0 20px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.advertisement {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #fbfbfb;
}

.advertisement-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
}

.advertisement-title-span {
    display: block;
    color: #fbfbfb;
    border-radius: 12px;
    width: 355px;
    height: 102px;
    background-color: #576f35;
    position: relative;
    left: -10px;
    padding: 3px 10px;
}

@media screen and (min-width:768px){
    .container{
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .advertisement {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .advertisement-title {
    font-size: 64px;
    line-height: 1.09;
    
    }

    .advertisement-title-span{
        left: -16px;
        padding: 8px 16px;
        width: 736px;
        height: 86px;
    }

}

@media screen and (min-width:1280px){
    .container {
        width: 1280px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .advertisement-title {
        font-size: 76px;
        line-height: 1.05;
        padding-left: 13px;
        padding-right: 13px;
    }

    .advertisement-title-span{
        display: inline-block;
        width: 808px;
        height: 86px;
        left: -13px;
        padding: 0 13px;
        
    }

}